name: PR check

on:
  pull_request:

concurrency: ${{ github.ref }}

jobs:
  main:
    name: Build & test the code
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-dotnet@v4
        name: Setup dotnet 10.0.x
        with:
          dotnet-version: 10.0.x

      - name: Install dependencies
        run: dotnet restore

      - name: Build the code
        run: dotnet build --no-restore
